@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Poppins", serif;

}
.Herobackground{
    background-image: url('/public/images/hero.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  